:root {
  --light-pink: #f0e3ed;
  --white: #fff;
  --black: #000;
  --pink: #a07794;
  --dark-grey: rgb(32, 32, 32);
  --highlight-color: hsl(185, 84%, 61%);
  --black-alpha: rgba(0, 0, 0, 0.2);
  --white-alpha: rgba(255, 255, 255, 0.75);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg, #211f2f, #918ca9);
  font-family: "Satisfy", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 2rem auto;
}

.title,
.playlist-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.player,
.playlist {
  box-shadow:
    2px 2px 5px var(--white),
    -2px -2px 5px var(--white),
    2px 2px 5px var(--pink),
    -2px -2px 5px var(--pink);
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.player-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  padding: 0.5rem 1rem;
  box-shadow:
    2px 2px 3px var(--black-alpha),
    -2px -2px 3px var(--black-alpha);
}

.cover {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow:
    2px 2px 5px var(--white),
    -2px -2px 5px var(--white);
}

.cover img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  animation: rotate 10s linear infinite;
  animation-play-state: paused;
}

.cover::after {
  content: "";
  position: absolute;
  left: 38%;
  bottom: 37%;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--light-pink);
}

.player.play .cover img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-display-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.song-information {
  color: var(--white);
  text-align: end;
}

.song-information p:first-child {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.progress-container {
  background-color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: var(--highlight-color);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: grid;
  place-content: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.controls .fas {
  font-size: 1rem;
  color: var(--white);
}

.playlist-songs {
  list-style: none;
}

.playlist-songs li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0.75rem;
  padding-inline: 0.25rem;
  box-shadow: 2px 2px 5px var(--white);
  color: var(--white);
  background-color: var(--black-alpha);
}

.playlist-song[aria-current="true"] {
  color: var(--highlight-color);
  box-shadow: 2px 2px 5px var(--black);
  background-color: var(--dark-grey);
}

@media (min-width: 48em) {
  .container {
    min-width: 50em;
    gap: 3rem;
    flex-direction: row;
  }

  .player {
    width: 40%;
    align-self: flex-start;
  }

  .playlist {
    width: 60%;
  }

  .playlist-songs li {
    padding: 0.5rem;
  }
}
